<style type="text/css">
        .table {
            border: 1px solid #999 !important;
            border-collapse: collapse;
            box-sizing: border-box;
            padding: 8px;
        }
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
            border: 1px solid #999 !important;
            padding: 8px;
        }
    </style>