@font-face { 
	font-family: lato; 
	src: url('../fonts/Lato-Bold.ttf'); 
}
@font-face { 
	font-family: openSans; 
	src: url('../fonts/OpenSans-Light.ttf'); 
}
h1, h2{
	font-family: lato;
}
p,a, input
{
	font-family: openSans;
}
body
{
	color: #4d4d4d;
}
.no-padding
{
	padding: 0 !important;
}
#wrapper
{
	margin-right: 2em;
}
.navbar-default
{
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
#menu
{
	background-color: #003b64;
	display: inline-block;
	height: 50px;
	width: 100%;		
}
.navbar-left
{
	line-height: 2.7em;
	vertical-align: middle;	
}
.navbar-default .navbar-nav > li > a
{
	color: white;
	padding-left: 0;
}
.head1 .navbar-default .navbar-nav > li > a, .head1-small .navbar-default .navbar-nav > li > a
{
	color: #575757;
}
.box
{
	background-color: white;
	border : 1px solid #a1a1a1;	
	display: flex;
}
.search
{
	float: right;
	height: 90%;
	width: 25%;
	line-height: 35px;
	margin-top: 6px;
	padding-left: 0.5em;
	color: #a1a1a1;
}
.box-content
{
	display: inline-block;
	border:1px solid #a1a1a1;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.no-border
{
	border: none !important;
}
.about
{
	padding-top: 1em;
}
.about h1
{
	color: #4d4d4d;
	font-weight: bold;
	margin-bottom: 1.3em;
	margin-left: 0.4em;
}
.about p
{
	margin-left: 1em;
	color: #4d4d4d;
	font-weight: bold;
}

#blueBlock
{
    text-align: center;
    background-color: #003b64;
    font-size: 20px;
    font-weight: bold;
    color: #fafafa ;
    padding-top: 5px;
    padding-bottom:5px;
}


.space
{
	height: 100px;
}
.greet
{
	margin-left: 80%;
}
.footer
{
	background-color: #003b64;
	display: inline-block;
	width: 100%;		
}

.footer-content ul
{	
    text-align: -webkit-auto;  
    float: left;
    padding-left: 20px;  
}
.footer-content ul > li > a
{
	color: white;
}
.content
{
	margin-top: 1.5em;
	width: 63.5%;
	margin-left: 19%;
	margin-bottom: 1.5em;
}
.contentProdDet
{
	padding-left: 1.3em;
}
.line
{
	border:1px solid #a1a1a1;
	margin-top: 1em;
}
.title-center
{
	margin: 0;
	text-align: center;
}
.radio-payment
{
	width: 18.5%;
	float: left;
}
.radio-row
{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}
.grey
{
	background-color: #f4f4f4;
}
.box-padding
{
	padding: 1em 1em 1em 1em;
}
.prodDet
{
    display: inline-block;
}
#tabProdDet
{
	margin-top: 2em !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: black !important;
  cursor: default;
  background-color: #f1f2f2;
  border: 1px solid #ddd;
  border-radius: 7px 7px 7px 7px ;
}

.nav-tabs {
    border-bottom: none !important;    
}
.nav-tabs a
{
	color: black !important;
	font-size: 1.2em;
}
.right
{
	float: right !important;
}
.price
{
	color: #003b64;
}
.addCart
{
	background-color: #003b64;
	border-radius: 7px;
	float: left;
	padding: 8px;
	margin-bottom: 0.4em;
}
.addCart:hover
{
	box-shadow: 2px 2px 5px #003b64;
}
.addCart h3
{	
	line-height: 0.3em;
	color: white;
	vertical-align: middle;
}
.title-bottom
{
	border-bottom: 2px solid #4d4d4d;
	font-weight: bold;
	padding-bottom: 0.3em;
}
.prod-features p
{
	line-height: 1.5em;
    font-size: 1.2em;
}
.prod-img
{
	max-width: 	85%;
	margin-top: 2em;
}
.top
{
	margin-top: 2em;
}
.bottom
{
	margin-bottom: 2em;
}
.rel-prod
{
	padding-left: 2em;
	padding-right: 2em;
}
.prod-box img
{
	max-width: 98%;
}
.prod-box p
{
	word-wrap:break-word;
}
.prod-box
{
	width: 20%;
	text-align: center;
	margin: 0;
	float: left;
	padding-left: 1em;
	padding-right: 1em; 
}
.box-outer
{
	border: 1px solid #4d4d4d;
	border-radius: 5px;
}
.box-list
{
	border: 1px solid #4d4d4d;
	padding: 1em 1em 1em 1em;
	margin-top: 1em;
	width: 49% !important;
	cursor: pointer;
	text-align: left;
	padding-bottom: 40px;
	height:290px;
}
.box-list:hover
{
	box-shadow: 5px 5px 15px #003b64; 
}
.box-list img
{
	max-width: 99%;
	margin-top: 25px;
	max-height: 183px;
}
.box-list p
{
	color: #003b64;
}
.paging
{
	border:1px solid #003b64;
	padding: 0.5em 0.8em 0.5em 0.8em;
	margin-top: 1em;
	display: inline-block;
	margin-bottom: 2em;
}
.paging a
{
	color: #4d4d4d;
}
.dropdown button
{
	width: 80%;
	text-align: left;
}
.dropdown span
{
	margin-top: 0.5em;
}
/*modified by FS 30 Des*/
.userDropdown>.open>a, .userDropdown>.open>a:focus
{
	background-color: white !important;
	color: black !important;
}
.productDropdown>.open>a, .productDropdown>.open>a:focus
{
	background-color: #225b84 !important;
	color: white !important;
}
.btn-default
{
	border-color: #4d4d4d;
	font-weight: bold;
	color: #4d4d4d;
}
.pagination>li>a, .pagination>li>span
{
	border:1px solid #003b64;
	border-radius: 0px !important;
	color: #4d4d4d;
	padding: 0.5em 1.2em 0.5em 1.2em;
}
.pagination
{
	float: right;
}

#chat
{
	position: fixed;
	bottom: 0;
	right: 1em;
}
#chatBox
{
	width: 330px;
}
.no-top
{
	border-top: none !important;
}
.no-bottom
{
	border-bottom: none;
}
.no-right
{
	border-right: none;
}
.no-left
{
	border-left: none;
}
.btn-purchase
{
	background-color: blue;
	color: white;
	font-size: 1.7em;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 1em !important;
    width: 5.1em;
    float: right;
}
.no-bullet
{
	list-style:none;
	margin-top: 10px;
}
.total-price
{
    bottom: 0 !important;
    right: 0 !important;
}
.credit-card
{
	width: 300%;
    /* max-width: 100%; */
    position: relative;
    left: -100%;
}
.break
{
	word-wrap:break-word;
}
.dropdown-menu>li>a:hover
{
	background-color: #003b64 !important;
	color: white;
}
.dropdown-menu>li>ul>a:hover
{
	background-color: #003b64 !important;	
	color: white !important;
	margin-top: 0;
}
.dropdown-menu>li>ul
{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
    position: absolute;
    left: 158px;
    top:0;
    background-color: white;
    border: 1px black solid;
    display:none;
    width:160px;
}
.dropdown-menu>li>ul>li
{
	padding-left: 0.5em;
    padding-right: 0.5em;
}
.dropdown-menu>li:hover>ul
{
	display: block;
}
.dropdown-menu>li>ul>li:hover
{
	cursor: pointer;
	background-color: #003b64 !important;
}
.dropdown-menu>li>ul>li:hover>a
{
	color: white !important;
	text-decoration: none;
}
.dropdown-menu>li>ul>li>a
{
	color: black;
}
.formLogin
{
	padding: 0.6em 0.6em 0.6em 0.6em;
}
.formLogin>input
{
	margin-top: 0.5em;
	border : 1px solid #003b64 !important;
	padding-left: 0.3em;
}
.blue
{
	background-color: #003b64 !important;
	color: white;
	text-align: center;	
}
.blue:hover
{
	color:white !important;
	background-color: #002a53 !important;
}
.navbar-default .navbar-nav>li>a:hover
{
	color: white !important;
	text-decoration: underline;	
}
.head1 .navbar-default .navbar-nav > li > a:hover, .head1-small .navbar-default .navbar-nav > li > a:hover
{
	color: #575757 !important;
	text-decoration: underline;	
}
.cart-modal
{
	min-width: 25em;
}
.cart-list
{
	padding: 0em 0.6em 0.6em 0em;
	display: inline-block;
}
.cart-list img
{
	max-width: 5em;
	padding: 0;
	margin-top: 0.9em;
}
.dropdown-menu .divider
{
	border-top:1px solid #555555 !important;
	background-color: white !important;
	height: 1px !important;
	margin:0 !important;
}
.navbar-nav>li>.dropdown-menu
{
	border:1px solid #555555 !important;
	margin-right: 1em;
}
/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: auto;
	max-height:70px;
	resize: both;
	margin: 2px;
}
.item img {
	width: 100%
}
#thumbcarousel
{
	max-height: 5em;
    padding-left: 15%;
    padding-right: 15%;
    display: inline-flex;
}
.rating
{
	color: #ffe300;
	font-size: 2em;
    margin-top: 0.2em;
}
.terms
{
	max-height: 35em;
	max-width: 75%;
	margin-right: 12.5%;
	margin-left: 12.5%;
	overflow: scroll;
}
.terms ol
{
	margin-left: 3em;
}
.space-terms
{
	height: 50px;
}
.form-contact
{
	font-size: 1.3em;
}
.form-contact p
{
	float: right;
	padding-right: 1em;
}
.form-contact .row
{
	margin-top: 1em;
}
.center
{
	text-align: center !important;
}
.orderHistory
{
    border: 1px solid #999;
    box-shadow: 2px 3px 15px #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 48%;
}
.orderHistory:hover
{
    box-shadow: 5px 5px 15px #003b64; 
}
.divider hr
{
	border-color: #000;
    margin-top: 2.4em;
}

.orderHistory:nth-child(odd)
{
	margin-right: 1%;
}
.orderHistory:nth-child(even)
{
	margin-left: 1%;
}
/*modified by FS 9 Jan*/
.cart-holder:hover
{
	background-color: #eee;
}
.owl-controller
{
	position: absolute;
	height:160px;
	cursor:pointer;
	z-index:1;
    padding: 0.5em;
    background-color: #003b52;
    color: #aaa;
}
.owl-controller span
{
	vertical-align: middle;
    height: 100%;
    line-height: 11;
}
.owl-controller:hover
{
	color:#fff;
	background-color: #003b64;
}
.owl-wrapper-outer
{
	display: initial !important;
}
.box-discount
{
    
    position: absolute;
    right: -10px;
    top: -20px;
    color:white;
}
.discount-star
{
    width: 100px !important;
}
.dicount-text
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: x-large;
    padding-left: 1.1em;
    padding-right: 0.5em;
    padding-top: 0.7em;
}
.box-price
{
	font-size: x-large;
    text-align: center;
}
.review-box
{
	background-color: #003b64;
	border-radius: 5px;
	padding: 1em;
	padding-top: 0;
	margin-bottom:1.5em;
}
.review-box p
{
	color:white;
	margin-top: 1em;
}
.review-box .reviewHeader
{
	color:white;
	font-size: large;
	margin-left: 0.5em;
}
.review-box span a
{
	color:white;
	text-decoration: underline;
}
#owl-discountedproducts .owl-wrapper,#owl-featuredproducts .owl-wrapper
{
	height:300px !important;
}
.hidden-small, .hidden-med
{
	display: none;
}
@media screen and (max-width: 547px) {
    .hidden-med {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .hidden-small {
        display: block;
    }
}
.dicount-text{
	color: black;
}