@media screen and (min-width: 600px)
{
    .head1-small
    {
        display: none;
    }
    .head1
    {
        display: block !important;
    }
    .head1 .navbar-right
    {
        float:right !important;
    }
    .head1 .navbar-right > li
    {
        float: left !important;
    }
}

@media screen and (max-width: 600px)
{
    .head1-small
    {
        display: block;
    }
    .head1
    {
        display: none !important;
    }
    .head1-small .navbar-right
    {
        float:left !important;
        margin-top: 2.5em !important;
    }
    .head1-small .navbar-right > li
    {
        float: left !important;
    }    
}

@media screen and (max-width: 550px)
{
    .head1-small .navbar-right
    {
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 838px)
{
    .greet
    {
        margin-left: 70%;
    }
}
@media screen and (max-width: 546px)
{
    .greet
    {
        margin-left: 50%;
    }
    .f1,.f2,.f3
    {
        width: 80%;
    }
}
@media screen and (max-width: 768px)
{
    .form-contact p
    {
        float: left;
        padding: 0;
        margin: 0;
    }
}
