/*css reset*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.cf { clear:both;}
.fl { float:left;}
.fr { float: right;}
/*font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

.demo_wrapper { width: 100%; margin: 0 auto; margin-bottom: 30px;}
.demo_block { width: 100%;}

/**
 *
 * slippry v1.3.1 - Responsive content slider for jQuery
 * http://slippry.com
 *
 * Authors: Lukas Jakob Hafner - @saftsaak
 *          Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2015, booncon oy - http://booncon.com
 *
 *
 * Released under the MIT license - http://opensource.org/licenses/MIT
 */
/* kenBurns animations, very basic */
@-webkit-keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@-moz-keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@-ms-keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@keyframes left-right {
  0% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }
  100% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@-webkit-keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
@-moz-keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
@-ms-keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
@keyframes right-left {
  0% {
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -webkit-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }
  100% {
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -webkit-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
/* added to the original element calling slippry */
.sy-box.sy-loading {
  background: url("../img/sy-loader.gif") 50% 50% no-repeat;
  -moz-background-size: 32px;
  -o-background-size: 32px;
  -webkit-background-size: 32px;
  background-size: 32px;
  min-height: 40px; }
  .sy-box.sy-loading .sy-slides-wrap, .sy-box.sy-loading .sy-pager {
    visibility: hidden; }

/* element that wraps the slides */
.sy-slides-wrap {
  position: relative;
  height: 100%;
  width: 100%; }
  .sy-slides-wrap:hover .sy-controls {
    display: block; }

/* element that crops the visible area to the slides */
.sy-slides-crop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }

/* list containing the slides */
.sy-list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; }
  .sy-list.horizontal {
    -moz-transition: left ease;
    -o-transition: left ease;
    -webkit-transition: left ease;
    transition: left ease; }
  .sy-list.vertical {
    -moz-transition: top ease;
    -o-transition: top ease;
    -webkit-transition: top ease;
    transition: top ease; }

/* single slide */
.sy-slide {
  position: absolute;
  width: 100%;
  z-index: 2; }
  .sy-slide.kenburns {
    width: 140%;
    left: -20%; }
    .sy-slide.kenburns.useCSS {
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      -webkit-transition-property: opacity;
      transition-property: opacity; }
      .sy-slide.kenburns.useCSS.sy-ken:nth-child(1n) {
        -webkit-animation-name: left-right;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: left-right;
        -moz-animation-fill-mode: forwards;
        -o-animation-name: left-right;
        -o-animation-fill-mode: forwards;
        animation-name: left-right;
        animation-fill-mode: forwards; }
      .sy-slide.kenburns.useCSS.sy-ken:nth-child(2n) {
        -webkit-animation-name: right-left;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: right-left;
        -moz-animation-fill-mode: forwards;
        -o-animation-name: right-left;
        -o-animation-fill-mode: forwards;
        animation-name: right-left;
        animation-fill-mode: forwards; }
  .sy-slide.sy-active { z-index: 3; }
  .sy-slide > img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: 0; }
  .sy-slide > a {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%; }
    .sy-slide > a > img {
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      border: 0; }

/* next/ prev buttons, with arrows and clickable area a lot larger than the visible buttons */
.sy-controls {
  display: none;
  list-style: none;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0; }
  .sy-controls li {
    position: absolute;
    width: 10%;
    min-width: 4.2em;
    height: 100%;
    z-index: 33; }
    .sy-controls li.sy-prev {
      left: 0;
      top: 0; }
      .sy-controls li.sy-prev a:after {
        background-position: -5% 0; }
    .sy-controls li.sy-next {
      right: 0;
      top: 0; }
      .sy-controls li.sy-next a:after {
        background-position: 105% 0; }
    .sy-controls li a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      text-indent: -9999px; }
      .sy-controls li a:link, .sy-controls li a:visited {
        opacity: 0.4; }
      .sy-controls li a:hover, .sy-controls li a:focus {
        opacity: 0.8;
        outline: none; }
      .sy-controls li a:after {
        content: "";
        background-image: url("../img/arrows.svg");
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        text-align: center;
        text-indent: 0;
        line-height: 2.8em;
        color: #111;
        font-weight: 800;
        position: absolute;
        background-color: #fff;
        width: 2.8em;
        height: 2.8em;
        left: 50%;
        top: 50%;
        margin-top: -1.4em;
        margin-left: -1.4em;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }

/* captions, styled fo the overlay variant */
.sy-caption-wrap {
  position: absolute;
  bottom: 1em;
  z-index: 12;
  left: 50%; }
  .sy-caption-wrap .sy-caption {
    position: relative;
    left: -50%;
    background-color: rgba(0, 0, 0, 0.74);
    color: #fff;
    font-size: 1em;
    padding: 0.4em 1em;
  }
    .sy-caption-wrap .sy-caption a:link, .sy-caption-wrap .sy-caption a:visited {
      color: #e24b70;
      font-weight: 600;
      text-decoration: none; }
    .sy-caption-wrap .sy-caption a:hover, .sy-caption-wrap .sy-caption a:focus {
      text-decoration: underline; }

/* pager bubbles */
.sy-pager {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 100%;
  margin: 0.5em 0 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .sy-pager li {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5em 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .sy-pager li.sy-active a {
      background-color: #00b7be; }
    .sy-pager li a {
      width: 100%;
      height: 100%;
      display: block;
      background-color: #ccc;
      text-indent: -9999px;
      -moz-background-size: 2em;
      -o-background-size: 2em;
      -webkit-background-size: 2em;
      background-size: 2em;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .sy-pager li a:link, .sy-pager li a:visited {
        opacity: 1.0; }
      .sy-pager li a:hover, .sy-pager li a:focus {
        opacity: 0.6; }

/* element to "keep/ fill" the space of the content, gets intrinsic height via js */
.sy-filler {
  width: 100%; }
  .sy-filler.ready {
    -moz-transition: padding 600ms ease;
    -o-transition: padding 600ms ease;
    -webkit-transition: padding 600ms ease;
    transition: padding 600ms ease; }


body {font-family: Roboto; transition: all 0.5s ease; }

.cangkang { width:1000px;}
.cangkang-2 { width:700px; margin-bottom: 20px;}
.header-left { height:110px; background:url(../img/logo-viparking.png) no-repeat top center; margin-top: 10px; background-size: 30%;  }
.box-absolute { position: absolute; z-index:999; left: 50%;}
.make-it-center { position: relative; left: -50%;}


.mobile-show {display: none;}

.navnav ul { margin: 0; padding: 0; list-style: none; overflow: hidden;  font-size: 14px; }
.navnav ul .btn { display: none; cursor: pointer;}
.navnav ul li { float: left; background-color: rgba(0,0,0,0.4); border-right: solid 1px #666;}
.navnav ul li:last-child {border-right: none;}
.navnav ul li a { display: block; padding: 10px 20px; text-decoration: none; color: #999;}
.navnav ul li a:hover { background-color: #0af1e4; color:#333; -webkit-transition: background-color 300ms linear;
        -moz-transition: background-color 300ms linear;
        -o-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;}
.navnav ul li a.active { color: #fff; background-color: #17a59d;}

.quote { margin: 40px 0; }
.quote h4 {width: 50%; padding: 100px 50px 10px 50px; font-weight: normal; font-size: 33px; line-height: 39px; font-style: italic; color: #666;}
.quote span { font-weight: bold;}
.quote p {padding-bottom: 100px; font-weight: normal; font-size: 14px; color: #0a9890;}

.four-side-content {  margin-bottom: 60px;}
.four-side-content h4 { font-size: 20px; color: #0a9890; line-height: 28px; }
.four-side-content h5 { font-size: 15px; color: #666; margin-bottom: 30px;}

.four-side-left {float:left; width:25%; }
.four-side-left div { height: 100px; }

.four-side-left h3 { color: #666; font-size: 14px; line-height: 16px; padding: 12px 50px; font-weight: bold; line-height: 18px; }
.four-side-left img { width: 50%;}

.three-side-left {float:left; width:33%; margin: 25px 0 50px 0; }
.three-side-left h2 { color: #666; text-align: left; font-size: 15px; line-height: 32px; padding: 0 30px; font-weight: bold;  }
.three-side-left h4 { color: #666; font-size: 14px; padding: 0 30px; font-weight: 400; line-height: 20px; text-align: justify; }
.three-side-left img { max-width: 85%;}

.bg-gray {background: #f3f1f1;}
.half {width: 50%; float: left;}
.contact {width: 50%; margin: 20px 0 80px 0;}
.contact input { font-size: 15px; font-family: roboto;}
.contact textarea { padding: 12px 12px; font-family: roboto;}
.contact p { width: 50%;}
.contact #datepicker,#datepicker2 { width: 50%;}

.about { margin: 20px 0; font-size: 16px; line-height: 24px; color: #333; }
.about h2 { font-size: 38px; width: 45%; text-align: left; line-height: 42px; font-weight: normal; font-style: italic; margin-bottom: 20px;}
.about p { margin-bottom: 10px; width: 45%; text-align: justify;}
.about p.headline { font-size: 18px; line-height: 28px; margin-bottom: 20px;}
.about p.headline span { font-style: italic;}
.about ul { list-style: none; text-align: justify; width: 80%;}
.about ul li { margin-top: 10px;}

.contact-us-left {width: 74%; float: left; padding-bottom: 30px;}

.contact-us-right {width: 25%; float: right; }
.contact-us-right a { font-size: 13px; margin-bottom: 10px; font-weight: bold; text-decoration: none; display: block; color: #333;}
.contact-us-right a:hover {color: #00b7be;}
.contact-us-right img { margin: 0 0 10px 0;}
.err-msg {display: block; color: red; margin: 5px 0 0 20px ; font-size: 13px;}

.history { margin: -40px 0 100px 0;}
.history h4{ float: left; font-size: 15px; color: #333; font-weight: normal; text-align: left; padding: 8px 1% 8px 0; line-height: 18px; }
.history h4.column1 {width: 14%;}
.history h4.column2 {width: 39%;}
.history h4.column3 {width: 14%;}
.history h4.column4 {width: 14%;}
.history h4.column5 {width: 14%;}
.history h4.table-header {color: #00b7be; font-size: 13px; border-bottom: solid 4px #00b7be; padding-bottom: 5px;text-transform: uppercase; font-weight: bold;}
.table-row { border-bottom: dotted 1px #cdcdcd;}


.bg-template { background: url(../img/bg-login.jpg) no-repeat top center; width: 100%; height: 140px; margin-bottom: 60px;}
.bg-login { background: url(../img/bg-login.jpg) no-repeat top center; width: 100%; height: 550px;}

.login-rules {color: white; margin-top: 180px; width: 23%;}
.login-rules h4 { font-size: 16px; line-height: 28px; margin-bottom: 10px;}
.login-rules p { font-size: 13px; line-height: 22px; margin-bottom: 10px;}
.btnstandard { background-color: #00b7be; color:white; font-size: 20px; border: none; border-radius: 3px; margin-top: 20px; margin-right: 20px; cursor: pointer; max-width: 130px;}
.btnstandard:hover { background-color: #0af1e4; -webkit-transition: background-color 1000ms linear;
        -moz-transition: background-color 1000ms linear;
        -o-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;}
.login-rules input[type="text"], .login-rules input[type="password"] {color: white; background-color: rgba(0,0,0,0.6); font-size: 13px; border: none; border-radius: 3px; margin-top: 10px; padding: 15px;}
.login-rules a { color: white; font-size: 13px; text-decoration: none;}
.login-rules a:hover { color: #0af1e4;}

.footer { width: 1000px; padding: 30px 0; border-top: solid 5px #cdcdcd; color: #666;}
.footer-left { float:left; width:25%; margin-bottom: 20px;}
.footer-middle { float:left; width:25%;}
.footer-middle p { font-size: 12px; line-height: 20px; font-weight: normal; margin: 0 10px; }
.footer-middle a { text-decoration: none; font-size: 12px; line-height: 24px; padding-left: 80px; color: #666; }
.footer-middle a:hover { color: #00b7be;}
.footer-right { float:left; width:25%;}
.footer-right p { font-size: 12px; line-height: 20px; font-weight: normal; margin: 0 10px; }
.footer-right p span { font-weight: bold; font-size: 13px;}



input,textarea{width:75%; padding: 10px; margin-left: 20px;}
button{padding: 13px 20px;font-size: 1.3em; margin: 0 0 40px 20px;}

@media only screen and (max-width: 768px) {
.bg-about-us { width: 100%; height: 250px;}

  .header { width: 100%;}
	.cangkang { width:100%;}
     
    .navnav ul { font-size: 0.875em; float: right;}
    .navnav ul li { float: left; }
    .navnav ul li a { padding: 10px 15%;}
    .four-side-content h4 { margin-left: 10px;}
    .four-side-left { float:left; width:46%; padding:2%; height: auto;}  
    .four-side-left h4 { margin-left: 0; height: 60px;}
    .sy-controls { display: block; }
    .sy-controls li { min-width: 2.1em; }
    .sy-controls li a:after { width: 1.4em; height: 1.4em; margin-top: -0.7em; margin-left: -0.7em; }     
    .sy-caption-wrap { left: 0; bottom: 0.4em; }
    .sy-caption-wrap .sy-caption { left: 0; padding: 0.2em 0.4em; font-size: 0.92em; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; } 
  .footer { width: 94%; padding-left: 5%;}

}

@media only screen and (max-width: 480px) {

.bg-mobile-indexpage { background:black; width: 100%; height: 130px; margin-bottom: 0px;}
.bg-mobile-indexpage img { height: 90px; margin-top: -10px;}
 .header-left { background:url(../img/icon-viparking.png) no-repeat top center;background-size: 18%; margin-top: 0; background-color: rgba(0,0,0,0.7); height: 40px;}
	.cangkang { width:100%;}
  .cangkang-2 { width:100%;}
  nav { display: none;}

  .quote h4{ width: 90%; padding: 10% 5%; font-size: 28px; line-height: 34px;}
  .quote p { padding-bottom: 10%;}
	.box-absolute { left:0 ;}
    .navnav { position: fixed; top: 0;}
    .navnav ul { font-size: 0.875em; float: left; width: 100%; text-align: left;}
    .navnav ul li { float: none; background-color: rgba(0,0,0,0.7);}
    .navnav ul .btn { display: block; color: #fff; background-color: rgba(0,0,0,0.8); font-size: 22px; line-height: 30px; padding: 5px 10px;}
    .navnav ul .menu li a { padding: 10px; border-bottom: solid 1px #000;}
    .navnav ul .menu { display: none; }
    .navnav ul li:hover .menu { display: block;}

  .four-side-left { float:none; width:90%; height: auto;} 
  .four-side-content h4 {padding-left: 5%;}  
  .three-side-left { float:none; width:95%; height: auto;} 
    .contact-us-right {float:none; width:100%; padding-bottom: 20px; }
    .contact-us-right p { padding: 10px 20px; }
    .contact-us-right h4 {padding: 0 20px; }
    .contact-us-left {float:none; width:100%; border: none;}
    .contact-us-left p { padding-bottom: 0;}
    .contact-us-left h2 {margin-top: 10px;  }

.mobile-show {display: block; padding-top: 30px;}
  .login-rules { width: 90%; padding-left: 5%; margin-top: 40px;}
  .footer { width: 100%;}
  input,textarea{width:90%; margin-left: -5%;}
  .contact {width: 90%; padding-left: 5%;}
  .contact #datepicker,#datepicker2 { width: 90%;}  
  .footer { width: 95%; padding-left: 5%;}
  .footer-left { float:none; width:95%; margin: 20px 0;  }
  .footer-middle { float:none; width:95%;}
  .footer-right { float:none; width:95%; }      
  .footer-middle a { padding-left: 0; }
  .footer-middle p { margin-left: 0; margin-bottom: 20px; text-align: justify;}
  .footer-right p { margin-left: 0; margin-top: 20px;}
  #cssmenu { width: 100%; float: none;}

.bg-template { height: 180px; padding-bottom: 0; margin-bottom: 10px;}

.about { margin: 20px 0; font-size: 16px; line-height: 24px; color: #333; }
.about img { width: 100%;}
.about h2 { font-size: 32px; width: 90%; line-height: 42px; margin:0 5%; padding-bottom: 20px;}
.about p { width: 90%; margin: 0 5%;}
.about ul { margin: 0 5%; width: 90%; text-align: left; margin-bottom: 30px;}
.half {width: 100%; float: none;}
.half p { margin-left: -25px;}

.breadcrumb { font-size: 12px; text-align: left; padding-left: 5%; text-transform: uppercase; color: #999; padding-top: 0;}

.history h4{ float: none; padding-left: 5%; margin-top: 0; padding-top: 0;}
.history h4.column1 {width: 90%; }
.history h4.column2 {width: 90%; }
.history h4.column3 {width: 90%; }
.history h4.column4 {width: 90%; }
.history h4.column5 {width: 90%; }
.history h4.table-header {display: none;}
.history span { display: block; text-align: left; padding-left: 7%; padding-top: 0; text-transform: uppercase; font-size: 12px; font-weight: bold; color: #00b7be;}
.table-row { margin-bottom: 30px; border-bottom: solid 10px #efefefx`;}
}
