#chat
{
	position: fixed;
	bottom: 0;
	right: 1em;
	z-index: 10;
	max-height: 100%;
	background-color: #f4f4f4;
}
#chatBox
{
	width: 330px;
}
#chatNav
{
	background-color: #003b64;
    height: 24px;
    cursor: pointer;
    line-height: 30px;
    color: white;
}
#imgChat
{
	cursor: pointer;
	max-width: 260px;
}
#btnMinimize, #btnClose
{
	cursor: pointer;
	width: 16px;
	resize:both;
	float: right;
}
#txtChat
{
	float: left;
	width: 80%;
}
#register
{
	height:350px;
	padding: 1em;
}
#btnSend
{
	float:left;
	width: 20%;
	line-height: 1.65em;
	text-align: center;
	background-color: #00c90d;
	cursor: pointer;
}
.disabled
{
	cursor: not-allowed;
	background-color: #2ecc38;
}
#chatTable
{
	width: 310px;
}
.outgoing td
{
	background: url("bubbles.png") no-repeat;
	background-size: 100% 100%;
	width: 310px;
	padding-left: 1em;
	padding-right: 2em;
	color:#fff;
	word-wrap: break-word;      /* IE 5.5-7 */
  	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  	white-space: pre-wrap;
}
.incoming td
{
	background: url("bubblesin.png") no-repeat;
	background-size: 100% 100%;
	padding-right: 1em;
	width: 310px;
	padding-left: 2em;
	color:#2d2d2d;
	word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}
#chats
{
	height:350px;
	overflow-y:scroll;
}
.form
{
	width: 99%;
	margin-top:1em;
}
#btnSubmit
{
	margin-top: 1em;
	background-color: #00c90d;
	line-height: 2em;
	text-align: center;
	margin-bottom: 1.5em;
	cursor: pointer;
}
.error
{
	color:#ff0700;
}
#chatChef
{
	position: absolute;
	width: 100px;
	left: 210px;
	top:-69px;
	cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: initial;
	color:#2e2e2e;
}
#chatContainer
{
	background: url("../images/paper.jpg");
	color:#2e2e2e;
}